::root {
	--kleur-snow: rgb(255,250,250);
}
body {
	width: 80%;
	margin: auto;
	background-color: var(--kleur-snow);
	font-family: "Tomorrow", "sans-serif";
}

#pageheader {
	font-family: "Orbitron", "sans-serif";
	margin: 1em 0 1em 0;
}
#pageheader h1 {
	margin: 0 0 0 0;
}
#pageheader p {
	margin: .5em 0 0 0;
}
